# Dependency directories / backend
backend/node_modules/
# Compiled TypeScript directory
backend/dist/

# File that contains login credentials for Oiva app backend
backend/src/credentials.json

# Dependency directories / frontend
frontend/node_modules/
# Compiled TypeScript directory
frontend/dist/